{% load static %}
<!-- Start of Html-->
    {% include 'Patient/basic.html' %}
<!-- End of Html -->
<link rel="stylesheet" href="{% static 'css/App-Style.css' %}" />
<link rel="stylesheet" href="{% static 'maps/css/style.css.map' %}" />

<!-- Start of Header and Nav Bar -->
{% include 'Patient/navbar.html' %}
<!-- End of Header and Nav Bar-->

<div class="container-fluid py-5">
        <div class="container">
            <h1 class="display-6 text-center">All Appointments</h1>
            {% if myapp %}
            <table class="table table-bordered">
                <thead>
                    <tr style="border: 1px solid #ddd; padding: 8px;">
                        <th style="padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #04AA6D; color: white;">Doctor Name</th>
                        <th style="padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #04AA6D; color: white;">Appointment Made on</th>
                        <th style="padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #04AA6D; color: white;">Appointment Date</th>
                        <th style="padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #04AA6D; color: white;">Timing</th>
                    </tr>
                    <tbody>
                        {% for doc in myapp %}
                            <tr>
                                <td style="background-color: #f2f2f2;">{{doc.d_name}}</td>
                                <td>{{doc.app_made_on}}</td>
                                <td style="background-color: #f2f2f2;">{{doc.app_fix_date}}</td>
                                <td>{{doc.time_slot}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            {% else %}
                <h3 class="text-center text-danger">Sorry No Doctor is found</h3>
            {% endif %}
        </div>
    </div>

<!--footer-main-->
    {% include 'Patient/footer.html' %}
<!-- End of footer-main-->
