{% load static %}
<!-- Start of Html-->
    {% include 'Patient/basic.html' %}
<!-- End of Html -->
<link rel="stylesheet" href="{% static 'css/App-Style.css' %}" />
<link rel="stylesheet" href="{% static 'maps/css/style.css.map' %}" />

<!-- Start of Header and Nav Bar -->
{% include 'Patient/navbar.html' %}
<!-- End of Header and Nav Bar-->


    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% block content %}
                    <h1 class="text-center mb-6">Change Password</h1>
                    <form method="post" action="{% url 'password_change' %}">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% if field.error %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-style-one btn-success">Change Password</button>
                </form>
                {% endblock %}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>



<!--footer-main-->
    {% include 'Patient/footer.html' %}
<!-- End of footer-main-->
