{% load static %}
<!-- Start of Html-->
    {% include 'Patient/basic.html' %}
<!-- End of Html -->

<!-- Start of Header and Nav Bar -->
{% include 'Patient/navbar.html' %}
<!-- End of Header and Nav Bar-->

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="alert alert-info">
                Your Password Has Been Set.
            </div>
            <div class="col-md-3 text-right ">
                <button class="btn btn-style-one" type="button"><a href="{% url 'login-page' %}">Sign In</a></button>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<!--footer-main-->
    {% include 'Patient/footer.html' %}
<!-- End of footer-main-->