{% load static %}
<!-- Start of Html-->
    {% include 'Patient/basic.html' %}
<!-- End of Html -->

<!-- Start of Header and Nav Bar -->
{% include 'Patient/navbar.html' %}
<!-- End of Header and Nav Bar-->

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="alert alert-info">
                An email has been sent with instructions to rest your password.
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<!--footer-main-->
    {% include 'Patient/footer.html' %}
<!-- End of footer-main-->