{% load static %}
<!-- Start of Html-->
    {% include 'Patient/basic.html' %}
<!-- End of Html -->

<!-- Start of Header and Nav Bar -->
{% include 'Patient/navbar.html' %}
<!-- End of Header and Nav Bar-->


<div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% block content %}
                  <div class="mt-5">
                    <div class="alert alert-success">
                      Your Message Was Successfully Send. Thanks! For Contact US.
                    </div>
                  </div>
                {% endblock %}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>



<!--footer-main-->
    {% include 'Patient/footer.html' %}
<!-- End of footer-main-->
