<div class="main-nav d-none d-lg-block">
          <nav class="site-navigation text-right text-md-center" role="navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="homePage">Home</a></li>
              <li ><a href="store">Store</a></li>
              
              
              <li><a href="addProduct">Add Medicine</a></li>
              <li><a href="catelogue">View Catelogue</a></li>
              <li><a href="viewRequest">View Requests</a></li>
            </ul>
          </nav>
        </div>