<div class="main-nav d-none d-lg-block">
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <ul class="site-menu js-clone-nav d-none d-lg-block">
        <li><a href="homePage">Home</a></li>
        <li><a href="store">Store</a></li>
        
        <li><a href="aboutUs">About</a></li>
        <li><a href="contactUs">Contact</a></li>
       
      </ul>
    </nav>
  </div>
  <div class="icons">
    
    <a href="cart" class="icons-btn d-inline-block bag">
      <span class="icon-shopping-bag"></span>
      <span class="number">2</span>
    </a>
    <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
        class="icon-menu"></span></a>
  </div>