{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'css/p_bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/p_magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/p_jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/p_owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/p_owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'css/p_aos.css' %}">
<link rel="stylesheet" href="{% static 'css/p_style.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock extrahead %}

{% block content %}

<div class="site-wrap">


  <div class="site-navbar py-2">

    

    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
          <div class="site-logo">
            <a href="homePage" class="js-logo-clone">Pharma</a>
          </div>
        </div>
        {% include 'partials/userNavbar.html' %}
    </div>
  </div>

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="homePage">Home</a> <span class="mx-2 mb-0">/</span>
          <strong class="text-black">Contact</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
       
        <div class="col-md-12">
         
        </div>
        <div class="col-md-6" ><img src="{% static '/images/pharma/2.png' %}" alt="Image placeholder" class="mb-6">
        </div>
        <div class="col-md-6">
          <h2 class="h3 mb-5 text-black">Request us!</h2>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="requestfirstname" name="requestfirstname" required>
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="requestlastname" name="requestlastname" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_email" class="text-black">Contact Number <span class="text-danger">*</span></label>
                  <input type="number" class="form-control" id="requestnumber" name="requestnumber" placeholder="" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_subject" class="text-black">Medicine Name<span class="text-danger">*</span> </label>
                  <input type="text" class="form-control" id="requestmedicine" name="requestmedicine" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_date" class="text-black">Date of Request<span class="text-danger">*</span></label>
                  <input type="date" class="form-control" id="requestdate" name="requestdate" placeholder="" required>
                </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_subject" class="text-black">Upload Prescription</label>
                  <input type="file" id="prescription" name="prescription">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send Request">
                </div>
              </div>
            </div>
          </form>
        </div>

    </div>
  </div>


<br>
<br>
</div>
</div>
  <div class="site-section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-white mb-4">Offices</h2>
        </div>
        <div class="col-lg-4">
          <div class="p-4 bg-white mb-3 rounded">
            <span class="d-block text-black h6 text-uppercase">New York</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-4 bg-white mb-3 rounded">
            <span class="d-block text-black h6 text-uppercase">London</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-4 bg-white mb-3 rounded">
            <span class="d-block text-black h6 text-uppercase">Canada</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>
        </div>
      </div>
    </div>
</div>
  </div>
  {% endblock content %}

  {% block extrafooter %}
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock extrafooter %}