{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'css/p_bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/p_magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/p_jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/p_owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/p_owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'css/p_aos.css' %}">
<link rel="stylesheet" href="{% static 'css/p_style.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock extrahead %}

{% block content %}

<div class="site-wrap">


  <div class="site-navbar py-2">

    
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
          <div class="site-logo">
            <a href="homePage" class="js-logo-clone">Pharma</a>
          </div>
        </div>
        
        {% include 'partials/pharmacistNavbar.html' %}
      </div>
    </div>
  </div>

  <table class="table table-success table-striped">
    {% csrf_token %}
    <thead>
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col" width="14%">Description</th>
        <th scope="col">price</th>
        <th scope="col">Qnty</th>
        <th scope="col">image</th>
        <th scope="col">expiry_date</th>
        <th scope="col">provider</th>
        <th scope="col">route</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product in product_details %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{product.product_id}}</td>
        <td>{{product.product_name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <img src="{{product.image.url}}" height="100px">
        </td>
        <td>{{product.expiry_date}}</td>
        <td>{{product.provider_status}}</td>
        <td>{{product.medication_route}}</td>
        <td><a href="{% url 'editProduct' id=product.product_id %}">

        <i class="fa-solid fa-pen-to-square float-end m-1 text-success;"></i></a>
          <a href="{% url 'deleteProduct' id=product.product_id %}">
          <i class="fa-solid fa-trash-can float-end m-1 text-danger;"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock content %}

  {% block extrafooter %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock extrafooter %}